@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/PretendardVariable.woff2") format("woff2-variations");
}

* {
  box-sizing: border-box;
  font-family: "Pretendard Variable";
}

body {
  width: 450px;
  text-align: center;
}

/* 드래그하는 동안 body 전체에 적용될 커서 스타일 */
body.grabbing {
  cursor: grabbing;
}

/* 드래그 대상 아이템 자체의 커서도 변경 */
body.grabbing .emoticon-item {
  cursor: grabbing;
}

#modal-wrapper {
  display: none;
  position: absolute;
  z-index: 9999;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: saturate(1.2) blur(2px);
  justify-content: center;
}

#modal-contents {
  width: 233px;
  backdrop-filter: blur(2px);
  border-radius: 12px;
  box-shadow: 0px 0px 14px 3px #beeefaa6;
  position: absolute;
  top: 15%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#modal-content-text {
  width: 200px;
  margin-top: 14px;
  font-size: 16px;
  padding: 5px;
  border-radius: 12px;
  font-weight: bold;
  color: #ffffffc9;
  word-break: auto-phrase;
}

#modal-content-buttons {
  width: 190px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  backdrop-filter: blur(1px);
  padding: 5px 10px;
  border-radius: 12px;
}

.modal-cancel-button {
  width: 75px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #e3858585;
  color: white;
  font-size: 15px;
  font-weight: bold;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 14px 2px #e4757545;
  margin-right: 7px;
  transition: all 0.3s ease-in-out;
}

.modal-confirm-button {
  width: 75px;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  background-color: #85e3be85;
  color: white;
  font-size: 15px;
  font-weight: bold;
  backdrop-filter: blur(5px);
  box-shadow: 0px 0px 14px 2px #85e3be24;
  transition: all 0.3s ease-in-out;
}

.modal-cancel-button:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #e38585a0;
}

.modal-confirm-button:hover {
  cursor: pointer;
  scale: 1.1;
  background-color: #33e19da0;
}

#reload-modal-wrapper {
  display: none;
  justify-content: center;
  position: relative;
}

#reload-modal-content-text {
  width: 220px;
  top: -80px;
  font-size: 16px;
  padding: 5px;
  border-radius: 12px;
  box-shadow: 0px 0px 14px 7px #f0f0f0a6;
  font-weight: bold;
  color: #0f4807;
  backdrop-filter: blur(1px);
  word-break: auto-phrase;
  z-index: 100;
  position: absolute;
  background-color: #ffffff00;
  transition: 0.4s ease-in-out;
}

#title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

#title-wrapper > img {
  width: 50px;
  border-radius: 12px;
  background-image: linear-gradient(35deg, #6016e087, #3ad21187);
  margin-right: 10px;
}

#description-wrapper {
  display: flex;
  width: 100%;
  height: 60px;
  overflow: hidden;
  position: relative;
}

#description-on {
  width: 95%;
  position: absolute;
  top: 0;
  left: 12px;
  line-height: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffffff;
  background-image: linear-gradient(168deg, #721deb78, #1acb9f7d);
  border-radius: 7px;
  padding: 10px;
  box-shadow: 3px 4px 7px 0px rgb(0 0 0 / 35%);
  transition: 0.4s ease-in-out;
}

.translate-x-on {
  transform: translateX(-460px);
}

#description-off {
  display: flex;
  width: 95%;
  height: 45px;
  position: absolute;
  top: 0;
  left: 455px;
  border-radius: 7px;
  background-image: linear-gradient(150deg, #ef2f2f9c, #c62b8466);
  font-size: 14px;
  font-weight: bold;
  color: white;
  box-shadow: 3px 4px 7px 0px rgb(0 0 0 / 35%);
  transition: 0.4s ease-in-out;
}

#description-off > p {
  margin: auto;
}

#max-wrapper {
  border: 1px solid #c2c2c2;
  padding: 5px;
  border-radius: 8px;
}

#max-wrapper > label {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#max-count {
  width: 40px;
  margin-top: 7px;
  margin-left: 4px;
  margin-right: 5px;
  text-align: center;
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255), 0 0 0 4px rgb(197, 197, 197),
    0 0 0 6px rgba(197, 197, 197, 0.06);
  transition: box-shadow 0.2s ease-in-out;
}

#max-count:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(255, 255, 255), 0 0 0 4px rgb(38, 150, 255),
    0 0 0 6px rgba(38, 150, 255, 0.06);
}

#max-count.input-invalid {
  box-shadow: 0 0 0 2px rgba(255, 255, 255), 0 0 0 4px rgb(255, 0, 0),
    0 0 0 6px rgba(255, 0, 0, 0.06);
}

#max-count-confirm-btn {
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  background-color: #ffffffb5;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 5px 3px #beeefaa6;
  font-size: 11px;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

#max-count-confirm-btn:hover {
  background-color: #ffffff;
  border: 1px solid #00800057;
  box-shadow: 0px 0px 5px 3px #71ffaea6;
}

#btn-and-toggle-wrapper {
  display: flex;
}

#emoticon-list-wrapper {
  display: flex;
  justify-content: space-around;
}

#emoticon-order-list-wrapper {
  width: 45%;
  margin-bottom: 5px;
}

#emoticon-list-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#emoticon-list-title span {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  user-select: none;
}

#emoticon-list-title span svg {
  transition: transform 0.2s ease-in-out;
}

.edit-unavailable-message {
  margin: auto;
}

#emoticon-list-container {
  display: flex;
  overflow-y: scroll;
  max-height: 310px;
  flex-direction: column;
  align-items: flex-start;
  padding: 4px 15px 0px;
  gap: 4px;
  transition: max-height 0.3s ease-in-out allow-discrete;
  scrollbar-gutter: stable;
}

@starting-style {
  #emoticon-list-container {
    max-height: 0;
  }
}

/* 스크롤바 전체 영역에 대한 스타일 */
#emoticon-list-container::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 설정 */
}

/* 스크롤바의 배경 트랙 스타일 */
#emoticon-list-container::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 트랙 배경색 */
  border-radius: 3px;
}

/* 스크롤바의 핸들(움직이는 막대) 스타일 */
#emoticon-list-container::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* 핸들 색상 */
  border-radius: 5px; /* 핸들을 둥글게 */
  border: 2px solid #f0f0f0; /* 핸들 주변에 여백 효과 */
  cursor: grab;
}

/* 핸들을 마우스로 클릭하고 드래그하는 동안의 스타일 */
#emoticon-list-container::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

#emoticon-list-container::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* 마우스를 올렸을 때 핸들 색상 */
}

.emoticon-item {
  display: flex;
  align-items: center;
  cursor: grab;
}

.emoticon-item img {
  width: 15px;
  height: 15px;
  object-fit: contain;
  border-radius: 5px;
  margin: auto 3px;
}

.emoticon-item .emoticon-name {
  text-align: start;
  line-height: 15px;
}

.hidden {
  display: none !important;
}

#refresh-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

#refresh-btn:hover {
  background-color: #f0f0f0;
}

#refresh-btn #refresh-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.7s ease-in-out;
}

#refresh-btn:hover #refresh-icon {
  transform: rotate(360deg);
}

.translate-x-off {
  transform: translateX(-445px);
}

.highlight {
  color: #45fb0dba;
  background-color: #00000096;
  border-radius: 3px;
  padding: 2px;
}

#update-notice {
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 12px;
  width: 95%;
  height: 45px;
  padding: 10px;
  font-weight: bold;
  font-size: 14px;
  color: #c20808;
  background-color: #ffcccc;
  border-radius: 7px;
  display: none;
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

#update-notice:hover {
  cursor: pointer;
  scale: 1.02;
  box-shadow: 0 0 7px 0px #e00000b3;
}

/* 제어 버튼 전체 컨테이너 */
#control-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 12px 4px;
  border-top: 1px solid #e0e0e0;
  margin: 6px auto 12px;
}

#control-inner-wrapper {
  display: flex;
}

/* 새로고침 아이콘 버튼 */
#reload-btn {
  position: relative;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  transition: background-color 0.2s;
}

.range-tooltip {
  position: relative;
}
.range-tooltip .tooltip-text {
  visibility: hidden; /* 평소에는 숨김 */
  width: 30px;
  word-break: keep-all;
  background-color: #e1e1e5;
  color: #202224;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 9px;
  font-weight: bold;
  line-height: 11px;

  /* 위치 설정 */
  position: absolute;
  z-index: 9999; /* 다른 요소 위에 보이도록 z-index 설정 */
  bottom: 110%; /* 버튼 위쪽에 위치 */
  left: 55%;
  margin-left: -5px; /* 너비의 절반만큼 왼쪽으로 이동 */

  /* 부드럽게 나타나는 효과 */
  opacity: 0;
  transition: opacity 0.2s;
}

/* 툴팁 텍스트 박스 스타일 */
#reload-btn #update-icon .tooltip-text,
#reload-btn .tooltip-text,
#refresh-btn .tooltip-text,
.toggle-wrapper .tooltip-text {
  visibility: hidden; /* 평소에는 숨김 */
  width: 63px;
  word-break: keep-all;
  background-color: #e1e1e5;
  color: #202224;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 9px;
  font-weight: bold;
  line-height: 11px;

  /* 위치 설정 */
  position: absolute;
  z-index: 9999; /* 다른 요소 위에 보이도록 z-index 설정 */
  bottom: 110%; /* 버튼 위쪽에 위치 */
  left: 24%;
  margin-left: -20px; /* 너비의 절반만큼 왼쪽으로 이동 */

  /* 부드럽게 나타나는 효과 */
  opacity: 0;
  transition: opacity 0.2s;
}

/* 컨테이너에 마우스를 올렸을 때 툴팁 텍스트를 보이게 함 */
.range-tooltip:hover .tooltip-text,
#reload-btn #update-icon:hover .tooltip-text,
#reload-btn:hover .tooltip-text,
#refresh-btn:hover .tooltip-text,
.toggle-wrapper:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

#reload-btn:hover {
  background-color: #f0f0f0;
}

#reload-btn #reload-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.7s ease-in-out;
}

#reload-btn #update-icon {
  width: 18px;
  height: 18px;
  transition: transform 0.5s ease-in-out;
}

#reload-btn:hover #reload-icon {
  transform: rotate(360deg);
}

#reload-btn:hover #update-icon {
  transform: scale(1.1);
}

/* 토글 스위치 전체 스타일 */
.toggle-wrapper {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 22px;
}

/* 기본 체크박스는 숨김 */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* 토글 스위치의 배경(슬라이더) */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 22px;
}

/* 토글 스위치의 원(손잡이) */
.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

/* 체크됐을 때(활성화) 슬라이더 배경색 변경 */
input:checked + .slider {
  background-color: #9488ff;
}

/* 체크됐을 때 손잡이 위치 이동 */
input:checked + .slider:before {
  transform: translateX(18px);
}

#version-display {
  position: absolute;
  top: 6px;
  right: 12px;
  font-size: 11px;
  color: #a0a0a0;
  font-family: "Gowun Dodum", sans-serif;
}

#size-wrapper {
  width: 140px;
  margin-left: 12px;
  border: 1px solid #c2c2c2;
  padding: 5px;
  border-radius: 8px;
}

#size-wrapper > div {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

#emoji-size-range {
  -webkit-appearance: none; /* 크롬, 사파리, 엣지 등 WebKit 기반 브라우저용 기본 스타일 제거 */
  appearance: none;
  width: 110px; /* 원하는 너비 지정 */
  height: 8px; /* 슬라이더 높이 조절 */
  background: linear-gradient(
    to right,
    #7b36b4a0 0%,
    #7b36b4a0 calc((var(--value) - 20) / 36 * 100%),
    #7b36b433 calc((var(--value) - 20) / 36 * 100%),
    #7b36b433 100%
  ); /* 진행된 부분 색상(#4caf50)과 나머지 색상(#ddd) 구분, --value에 자바스크립트로 값 넣음 */
  border-radius: 4px;
  outline: none;
}

/* 슬라이더 thumb 커스텀 */
#emoji-size-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  background: #a78bd7; /* thumb 색상 */
  cursor: pointer;
  border-radius: 50%; /* 원형 thumb */
  transition: background 0.3s ease;
}

#emoji-size-range::-webkit-slider-thumb:hover {
  background: #8655da;
}

#emoji-size-value {
  margin-left: 6px;
  font-weight: bold;
}

#blocklist-wrapper {
  width: 48%;
  margin: 0 5px 5px;
}

#blocklist-wrapper > h3 {
  margin: 0 0 4px;
}

#blocklist-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

#blocklist-title h3,
#blocklist-title h5 {
  margin: 0 0 4px;
}

.block-unavailable-message {
  margin: auto;
}

#blocklist {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25px);
  grid-auto-rows: 54px;
  row-gap: 3px;
  column-gap: 8px;
  justify-content: start;
  overflow-y: scroll;
  max-height: 310px;
  scrollbar-gutter: stable;
}

/* 스크롤바 전체 영역에 대한 스타일 */
#blocklist::-webkit-scrollbar {
  width: 12px; /* 스크롤바의 너비 설정 */
}

/* 스크롤바의 배경 트랙 스타일 */
#blocklist::-webkit-scrollbar-track {
  background-color: #f0f0f0; /* 트랙 배경색 */
  border-radius: 3px;
}

/* 스크롤바의 핸들(움직이는 막대) 스타일 */
#blocklist::-webkit-scrollbar-thumb {
  background-color: #c1c1c1; /* 핸들 색상 */
  border-radius: 5px; /* 핸들을 둥글게 */
  border: 2px solid #f0f0f0; /* 핸들 주변에 여백 효과 */
  cursor: grab;
}

/* 핸들을 마우스로 클릭하고 드래그하는 동안의 스타일 */
#blocklist::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
}

#blocklist::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8; /* 마우스를 올렸을 때 핸들 색상 */
}

#blocklist div {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content;
  gap: 8px;
  padding: 2px;
  margin: 4px auto;
  border-radius: 4px;
  background: #ffffffa6;
  box-shadow: 0 0 5px 1px #00000010;
}

#clear-all-blocked-emoticons-btn {
  background: none;
  background-color: #ff004f96;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 2px;
  line-height: 1;
  border-radius: 5px;
  opacity: 0.6;
  margin-left: 3px;
}

#clear-all-blocked-emoticons-btn.hoverable:hover {
  opacity: 1;
}

.unblock-btn {
  width: 22px;
  margin: 0;
  padding: 0;
  border-radius: 3px;
  background-color: #ffffffb5;
  box-shadow: 0px 0px 5px 3px #fabecaa6;
  font-size: 10px;
  user-select: none;
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
}

.unblock-btn:hover {
  background-color: #ffffffb5;
  border: 1px solid #80000057;
  box-shadow: 0px 0px 5px 3px #ff7171a6;
}
